microservices/ordering/.gradle
microservices/ordering/build
!microservices/ordering/gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

!**/src/main/**/out/
!**/src/test/**/out/
